{% extends 'bootstrap/base.html' %}

{% block navbar %}
    <div class="navbar-default navbar-static-top" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ url_for('main.index') }}" class="navbar-logo">
                    <img src="{{ url_for('static',filename='img/avatar.png') }}" style="width: 45px">
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}" class="active">首页</a></li>
                <li><a href="#">留言</a> </li>
                <li><a href="#">关于我</a> </li>
            </ul>

            <form class="navbar-form navbar-right" action="{{ url_for('main.search') }}" method="get">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search..." name="search">
                        <span class="input-group-btn">
                            <input class="btn btn-default" type="submit">Go</input>
                        </span>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 8px">
        <div class="row">
            <!--侧边栏-->
            <div class="col-md-3">
                <!--个人信息-->
                <div class="thumbnail">
                    <img src="{{ url_for('static',filename='img/avatar.png') }}">

                    <!--<div class="thumbnail">-->
                        <!--<img src="avatar.png">-->
                    <!--</div>-->
                    <div class="caption">
                        <div style="text-align: center" class="lead">The pretty girls are AOA.</div>
                    </div>
                </div>

                <!--标签-->
                <div class="thumbnail">
                    <div class="caption">
                        <strong>标签</strong>
                    </div>

                    <div class="container-fluid">
                        {% for tag in tags %}
                            <a href="{{ url_for('main.by_tag', id = tag.id) }}" class="badge">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>

                <!--分类目录-->
                <div class="list-group">
                    <div class="list-group-item"><strong>分类目录</strong></div>
                    {% for category in categorys %}
                    <a href="{{ url_for('main.by_category',id = category.id) }}" class="list-group-item">{{ category.name }}</a>
                    {% endfor %}
                </div>


                <div class="thumbnail">
                    <div class="caption">
                        <strong>热评文章</strong>
                    </div>
                    <div class="container">
                        <ul class="list-unstyled">
                            <li><a href="#">Android开源库</a></li>
                            <li><a href="#">关于我 </a></li>
                            <li><a href="#">回望</a></li>
                            <li><a href="#">Python开元库</a></li>
                            <li><a href="#">手头</a></li>
                            <li><a href="#">小熊词典</a></li>
                            <li><a href="#">我这几年的变化</a></li>
                        </ul>
                    </div>
                </div>

                <!--友情连接-->
                <div class="thumbnail">
                    <div class="caption">
                        <strong>友情连接</strong>
                    </div>
                    <ul >
                        {% for link in links %}
                            <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <!--<div class="list-group">-->
                    <!--<div class="list-group-item"><strong>友情连接</strong></div>-->
                    <!--<a href="#" class="list-group-item">左岸读书</a>-->
                    <!--<a href="#" class="list-group-item">叶科忠的博客</a>-->
                    <!--<a href="#" class="list-group-item">不给力的面条</a>-->
                    <!--<a href="#" class="list-group-item">代码家</a>-->
                    <!--<a href="#" class="list-group-item">博客大全</a>-->
                    <!--<a href="#" class="list-group-item">NoGameNoLife</a>-->
                    <!--<a href="#" class="list-group-item">Trinea@Android @Java @性能优化</a>-->
                <!--</div>-->



                    </div>

                <!--文章-->
                <div class="col-md-9">
                {% block rightbody %}
                        {% block postlist %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="lead"><strong>为什么四轴飞行器没有载人应用</strong></p>
                        我最近买了一架四轴飞行器的遥控飞机来玩，玩了两天之后，我必须承认，在我玩过的所有飞机中，四轴飞行器无论是操作性还是稳定性都非常优秀，在无人机领域里面最顶尖的大疆，也是做这样形状的四轴飞行器的。但是我发现，四轴飞行器的飞行结构，似乎只出现在无人机里面，而并没有载人的四轴飞行器。
                    </div>
                    <div class="panel-footer">
                        n 2015-04-18 - 2 Comment
                    </div>
                </div>
                {% endblock %}

                {% block paginatebar %}
                <!--分页条-->
                <ul class="pagination">
                {% if pagenation.has_prev %}
                    <li><a href="{{ url_for('main.index',_method='GET', p = pagenation.page-1) }}">Prev</a> </li>
                    {% endif %}


                {% for page in pagenation.iter_pages() %}
                    {% if page %}
                        {% if page != pagenation.page %}
                        <li><a href="{{ url_for('main.index',_method='GET', p = page) }}">{{ page }}</a> </li>
                            {% else %}
                        <li><a href="{{ url_for('main.index',_method='GET', p = page) }}">#</a> </li>
                            {% endif %}
                    {% endif %}
                {% endfor %}


                {% if pagenation.has_next %}
                    <li><a href="{{ url_for('main.index',_method='GET', p = pagenation.page + 1) }}">Next</a> </li>
                {% endif %}
                </ul>
                {% endblock %}
            {% endblock %}
            </div>

        </div>
    </div>


{% endblock %}


{% block scripts %}
{{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang('zh-CN') }}
{% endblock %}