{% extends 'index.html' %}

{% block paginatebar %}
<!--分页条-->
<ul class="pagination">
{% if pagenation.has_prev %}
    <li><a href="{{ url_for('main.by_tag',_method='GET',id=id, p = pagenation.page-1) }}">Prev</a> </li>
    {% endif %}


{% for page in pagenation.iter_pages() %}
    {% if page %}
        {% if page != pagenation.page %}
        <li><a href="{{ url_for('main.by_tag',_method='GET',id=id, p = page) }}">{{ page }}</a> </li>
            {% else %}
        <li><a href="{{ url_for('main.by_tag',_method='GET',id=id, p = page) }}">#</a> </li>
            {% endif %}
    {% endif %}
{% endfor %}


{% if pagenation.has_next %}
    <li><a href="{{ url_for('main.by_tag',_method='GET',id=id, p = pagenation.page + 1) }}">Next</a> </li>
{% endif %}
</ul>
{% endblock %}
